.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
#canvas-audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px) contrast(5);
}
.audio-container {
  position: relative;
  width: 82%;
  display: flex;
  flex-direction: row;
  top: 80px;
  align-items: center;
  justify-content: center;
}
#audio-player {
  width: 30%;
}
#file-upload {
  color: #ededed;
}

/* iPad Portrait */
@media (max-width: 820px) {
  .audio-container {
    flex-direction: column-reverse;
    width: 75%;
  }
  #audio-player {
    width: 60%;
  }
  #file-upload {
    margin-top: 40px;
  }
}
/* Mobile Portrait */
@media (max-width: 480px) {
  .audio-container {
    top: 40px;
    height: 120px;
    flex-direction: column-reverse;
    width: 70%;
  }
  #audio-player {
    width: 90%;
  }
}